<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Alias of Type -->
	<typeAliases>
		<typeAlias alias="department" type="com.hakunamatata.springmvc.entity.Department"/>
		<typeAlias alias="hotel" type="com.hakunamatata.springmvc.entity.Hotel"/>
		
	</typeAliases>	
	
	<!--Mapper (sql statement )list -->
	<mappers>
		<mapper resource="mapper/department-mapper.xml"/> 		
		<mapper resource="mapper/hotel-mapper.xml"/> 	
	</mappers>
	
</configuration>
