<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Department">
		<resultMap type="department" id="departmentMap">
		<id property="id" column="id"/>
		<result property="tourguide" column="tourguide"/>
		<result property="address" column="address"/>
	</resultMap>
		<select id="selectList" parameterType="department" resultMap="departmentMap">
		<![CDATA[
			SELECT * FROM department
			WHERE	id <= #{id}
		]]>
	</select>
</mapper>